<html>
  <head>
    <script src="/logout.js"></script>
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main">
      <div id="topNav">
        <span> Welcome: <%= username %></span>
        <a href="#" id="logoutButton"> logout </a>
      </div>
      <div class="logo"></div>
      <h1>Past Workout Sessions</h1>
      <div id="pastWorkoutContainer">
        <!-- Reverse array of sessions to show latest first -->
        <% if (obj) { %>
          <% obj.reverse().forEach(function(workout) { %>
            <div class="sessionContainer">
              <h2><%= workout.name %> - <%= workout.date %></h2>
              <% workout.exercises.forEach(function(exercise) { %>
                <h3><%= exercise.name %></h3>
                <% exercise.sets.forEach(function(set, i) { %>
                  <p>Set <%= i+1 %>: <%= set.reps %> x <%= set.weight %></p>
                <% }); %>
              <% }); %>
            </div>
          <% }); %> 
        <% } else { %>
          No session data has been recorded yet!
        <% } %>
      </div>
    </div>
	</body>
</html>